.trigger {
  @include flex-center(true);
  @include square(32px);

  flex: 0 0 auto;
  color: var(--color-black);
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-xs);
  cursor: pointer;

  &:disabled {
    @include disabled;
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent);
    outline-offset: 2px;
  }

  @include hover {
    color: var(--color-accent);
    background-color: var(--color-ligth);
  }
}

.overlay {
  position: fixed;
  background-color: rgb(18 24 38 / 20%);
  inset: 0;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  display: grid;
  row-gap: 20px;
  width: min(calc(100vw - 32px), 536px);
  padding: 20px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-xs);
  box-shadow: 0 32px 32px -15px rgb(4 7 17 / 5%);
  translate: -50% -50%;
}

.title {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

.description {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.error {
  font-size: 12px;
  text-align: center;
  color: var(--color-bad-accent);
}

.actions {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

.deleteButton,
.cancelButton {
  padding: 8px 16px;
  font-size: 14px;
  font-family: var(--font-outfit), sans-serif;
  font-weight: 500;
  border: none;
  border-radius: var(--border-radius-xs);
  cursor: pointer;

  &:disabled {
    @include disabled;
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent);
    outline-offset: 2px;
  }
}

.deleteButton {
  color: var(--color-white);
  background-color: var(--color-bad-accent);
}

.cancelButton {
  background-color: var(--color-ligth);
}
