.imagesGrid {
  --gridColumn: 4;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(266px, auto));
  justify-content: center;
  gap: 24px;
}

.image {
  border-radius: var(--border-radius-xs);
}
