.button {
  @include flex-center(true);

  column-gap: 10px;
  padding: 12px 24px;
  font-family: var(--font-outfit), sans-serif;
  font-weight: 500;
  background-color: var(--color-ligth);
  border: none;
  border-radius: var(--border-radius-xs);
  user-select: none;

  @include hover {
    color: var(--color-white);
    background-color: var(--color-accent);
  }

  &:active {
    scale: 1.05;
  }
}

.large {
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  min-height: 252px;
  padding: 24px;
  font-size: 20px;
  color: var(--color-grey);
  border-radius: var(--border-radius-s);
}
