@use 'sass:math';

.searchContainer {
  max-width: 528px;
  margin-inline: auto;
  margin-bottom: 48px;
  margin-top: math.div(-56px, 2);
}

.gradientLine {
  display: block;
  height: 80px;
  background: linear-gradient(to right, #F2C593, #8A3282);
  -webkit-text-fill-color: transparent;
}