.inner {
  display: flex;
  align-items: start;
  gap: 30px;
  height: 90vh;
  padding-block: 52px;
  padding-inline: 72px;
}

.imageBox {
  position: relative;
  flex: 0 1 50%;
  height: 100%;
}

.image {
  border-radius: var(--border-radius-xs);
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 25%);
  object-fit: cover;
}

.aboutBox {
  display: grid;
  flex: 0 1 50%;
  row-gap: 36px;

  .photoInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }

  .photoCollections {
    font-size: 20px;
    font-weight: 700;
  }

  .actions {
    display: inline-flex;
    column-gap: 16px;
  }
}

.dataCreator {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-weight: 500;

  .userpic {
    border-radius: 50%;
  }
}

.createdDate {
  font-weight: 300;
}
