.searchForm {
  position: relative;
  height: 56px;
  font-weight: 300;

  @include flex-center;
}

.input {
  width: 100%;
  padding: 16px;
  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--border-radius-s);
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 10%);

  &::placeholder {
    color: var(--color-grey);
  }
}

.button {
  @include abs-y;
  @include flex-center(true);

  right: 0;
  width: 56px;
  height: inherit;
  padding: 0;
  color: var(--color-ligth);
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-s);

  @include hover {
    color: var(--color-black);
  }

  &:focus-visible {
    color: var(--color-black);
  }
}
