body {
  font-family: var(--font-vietnam), sans-serif;
  font-size: 14px;
  color: var(--color-black);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

//  @include hover {
//    color: var(--color-bad-accent);
//  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
//  @include focus-visible;
}
