body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  font-family: var(--font-vietnam), sans-serif;
  font-weight: 300;

//  background-color: var(--color-black);
  color: var(--color-black);
}

main {
  flex-grow: 1;
}

input[type="search"]::-webkit-search-cancel-button { 
  appearance: none;
  width: 24px;
  height: 24px;
  background: url('/close.svg') no-repeat center / contain;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 46px;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  font-weight: 500;
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}
