:root {
  --color-black: #121826;
  --color-white: #FFF;
  --color-grey: #6C727F;
  --color-ligth: #E5E7EB;
  --color-accent: #4E80EE;
  --color-bad-accent: #dd524c;

  --border: 1px solid var(--color-ligth);

  --gradient: linear-gradient(to right, #F2C593, #8A3282);

  --border-radius-s: 8px;
  --border-radius-xs: 4px;

  --container-width: 1136px;

  --transition-duration: 0.2s;
}
