:root {
  --color-black: #121826;
  --color-white: #fff;
  --color-grey: #6c727f;
  --color-ligth: #e5e7eb;
  --color-accent: #4e80ee;
  --color-bad-accent: #dd524c;

  --border: 1px solid var(--color-ligth);

  --gradient: linear-gradient(to right, #f2c593, #8a3282);

  --border-radius-s: 8px;
  --border-radius-xs: 4px;

  --container-width: 1145px;

  --transition-duration: 0.2s;
}
