:root {
  --color-black: #121826;
  --color-white: #FFFFFF;
  --color-grey: #6C727F;
  --color-ligth: #E5E7EB;

  --border: 1px solid var(--color-ligth);

  --border-radius-s: 8px;
  --border-radius-xs: 4px;

  --transition-duration: 0.2s;
}
