.navLinks {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  padding: 8px 20px;
  font-weight: 500;
  color: var(--color-grey);
  border-radius: var(--border-radius-xs);

  @include hover {
    color: var(--color-black);
  }
}

.activeLink {
  color: var(--color-black);
  background-color: var(--color-ligth);
}