.navLinks {
  display: flex;
  align-items: center;
  gap: 8px;
}
.link {
  padding: 8px 20px;
  color: var(--color-grey);
  border-radius: var(--border-radius-xs);
  font-weight: 500;
}

.activeLink {
  color: var(--color-black);
  background-color: var(--color-ligth);
}