.imagesGrid {
  --columns: 4;
  --gap: 24px;

  // TODO: Mansory - эфект не устраивает из-за подгрузки по вертикали
  column-gap: var(--gap);
  column-count: var(--columns);
  column-fill: balance;

  @include tablet {
    --columns: 3;
  }

  @include mobile {
    --columns: 2;
  }

  @include mobile-s {
    --columns: 1;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-xs);
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 25%);
}

.imageWrapper {
  display: block;
  break-inside: avoid; // Запрещает разрыв элемента между колонками
  margin-bottom: var(--gap);
}

.loader {
  padding: 20px;
  text-align: center;
  color: var(--text-secondary, #666);
  column-span: all; // элемент пересекает ВСЕ колонки
}

.triggerBlock {
  height: 20px;
  column-span: all;
}
