.imageLink {
  position: relative;
  display: block;
  background-color: var(--color-ligth);
  background-image: var(--blur-data-url);
  background-position: center;
  background-size: cover;
  border-radius: var(--border-radius-xs);
  transition-duration: 0.3s;

  @include hover {
    scale: 1.05;
  }
}

.image {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-xs);
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 25%);
}
