.imagesGrid {
  --columns: 4;
  --gap: 24px;

  display: flex;
  justify-content: center;
  column-gap: var(--gap);
  width: 100%;

  @include tablet {
    --columns: 3;
    --gap: 16px;
  }

  @include mobile {
    --columns: 2;
    --gap: 12px;
  }

  @include mobile-s {
    --columns: 1;
  }
}

.loader {
  padding: 20px;
  text-align: center;
  color: var(--text-secondary, #666);
}

.triggerBlock {
  height: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  row-gap: var(--gap);
}
