.container {
  max-width: 1400px;
  margin-inline: auto;
  padding: 24px;
}

.searchContainer {
  margin-bottom: 40px;
}

.gradientLine {
  display: block;
  height: 80px;
  background: url('/gradiend-bg.svg');
}