.imagesGrid {
  --columns: 4;
  --gap: 24px;

  // TODO: Mansory - эфект не устраивает из-за подгрузки по вертикали
//  column-gap: var(--gap);
//  column-count: var(--columns);
//  column-fill: balance;
  display: flex;
  column-gap: var(--gap);

  @include tablet {
    --columns: 3;
  }

  @include mobile {
    --columns: 2;
  }

  @include mobile-s {
    --columns: 1;
  }
}

.loader {
  padding: 20px;
  text-align: center;
  color: var(--text-secondary, #666);
//  column-span: all; // элемент пересекает ВСЕ колонки
}

.triggerBlock {
  height: 20px;
//  column-span: all;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
}