.imagesGrid {
  --columns: 4;
  --gap: 24px;

  display: flex;
  width: 100%;
  column-gap: var(--gap);
  justify-content: center;

  @include tablet {
    --columns: 3;
  }

  @include mobile {
    --columns: 2;
  }

  @include mobile-s {
    --columns: 1;
  }
}

.loader {
  padding: 20px;
  text-align: center;
  color: var(--text-secondary, #666);
}

.triggerBlock {
  height: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
  flex: 1 1 auto;
}